.banner{
  &__inner{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__swiper {
    width: 80%;
  }
  
  &__swiper-container {
    margin-left: 0px;
    border-radius: 20px;
    height: 340px;
  }
  &__swiper-wrapper {
    height: 100%;
  }
  
  &__slide {
    height: 100%;
  }
  &__slide-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__action {
    width: 18%;
    border-radius: 4px;
  }
  &__action-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
