.info {
  min-height: 50px;
  padding: 20px 0 20px 0px;

  &__inner {
    color: #717171;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__text {
    margin: 0;
  }
}
