.input {
  width: 100%;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  font-size: 14px;
  font-weight: 100;
  border: 0px solid var(--border);

  &::placeholder {
    color: var(--gray);
  }
}
