<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <nav class="navbar">
          <ul class="navbar__list">
            <li class="navbar__item">
              <a class="navbar__link link" href="#">О компании</a>
            </li>
            <li class="navbar__item">
              <a class="navbar__link link" href="#">Заказ и доставка</a>
            </li>
            <li class="navbar__item">
              <a class="navbar__link link" href="#">Оптовикам</a>
            </li>
            <li class="navbar__item">
              <a class="navbar__link link" href="#">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="header__info">
          <div class="social social--header">
            <a class="social__item link" href="#">
              <svg class="social__icon">
                <use href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
            <a class="social__item link" href="#">
              <svg class="social__icon">
                <use href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </div>
          <div class="phones">
            <a class="phones__item link" href="tel:89998472877">8(999)847-28-77</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__middle">
    <div class="container">
      <div class="header__middle-inner">
        <div class="header__logo">
          <a class="logo black-yellow" href="#">rmpro</a>
        </div>
        <div class="search">
          <button class="search__btn search__btn--left btn btn--secondary">
            <svg class="search__icon">
              <use href="img/sprite.svg#list"></use>
            </svg>
          </button>
          <input class="search__field input" type="text" placeholder="Поиск товаров по сайту">
          <button class="search__btn search__btn--right btn btn--primary">
            <svg class="search__icon">
              <use href="img/sprite.svg#search"></use>
            </svg>
          </button>
        </div>
        <div class="header__cart">
          <button class="header__cart-btn btn btn--secondary">
            <svg class="header__cart-icon">
              <use href="img/sprite.svg#cart"></use>
            </svg>
          </button>
          <div class="header__cart-info">
            <span>30 000 000 ₽</span>
            <span>8 000 товаров</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-inner">
        <ul class="header__catalog">
          <li class="header__catalog-item">
            <a href="#" class="header__catalog-link link">КАТАЛОГ</a>
          </li>
          <li class="header__catalog-item">
            <a href="#" class="header__catalog-link link">ШПАТЛЕВКА</a>
          </li>
          <li class="header__catalog-item">
            <a href="#" class="header__catalog-link link">ЭМАЛЬ И КРАСКА</a>
          </li>
          <li class="header__catalog-item">
            <a href="#" class="header__catalog-link link">АЭРОЗОЛЬНЫЕ ЭМАЛИ И ГРУНТЫ</a>
          </li>
          <li class="header__catalog-item">
            <a href="#" class="header__catalog-link link">АБРАЗИВЫ</a>
          </li>
          <li class="header__catalog-item">
            <a href="#" class="header__catalog-link link">ГЕРМЕТИКИ</a>
          </li>
          <li class="header__catalog-item">
            <a href="#" class="header__catalog-link link">АНТИГРАВИЙ</a>
          </li>
          <li class="header__catalog-item">
            <a href="#" class="header__catalog-link link">ПОЛИРОВАЛЬНЫЕ ПАСТЫ</a>
          </li>
          <li class="header__catalog-item">
            <a href="#" class="header__catalog-link link">СКОТЧ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
