// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1370px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --black: #000;
  --dark: #2A2A2A;
  --light: #DADADA;
  --border: #ededed;
  --gray: #A5A5A5;
  --lightgray: #DFDFDF;
  --green:#69b64f;
  --primary: #FDC500;
  --secondary: #F6F4F4;

  // other
  --border-radius: 4px;
  --transition: .3s ease-in-out;
}
